--
-- PostgreSQL database dump
--

\restrict FWuXjpdfq6SMT9eXCw8dNciJp4ofSa2l6rUIXEjgu5hUT8KRYB7yvLOQgsqj23q

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assets (
    id integer NOT NULL,
    user_id integer,
    organization_name character varying(255) NOT NULL,
    asset_type character varying(100) NOT NULL,
    asset_name character varying(255) NOT NULL,
    description text,
    location character varying(255),
    owner character varying(255),
    classification character varying(50),
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    controller_license_number character varying(100),
    controller_contact_number character varying(20)
);


ALTER TABLE public.assets OWNER TO postgres;

--
-- Name: assets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assets_id_seq OWNER TO postgres;

--
-- Name: assets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assets_id_seq OWNED BY public.assets.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    user_id integer,
    action character varying(100) NOT NULL,
    resource character varying(100),
    details jsonb DEFAULT '{}'::jsonb,
    ip_address character varying(45),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: checklist_responses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.checklist_responses (
    id integer NOT NULL,
    assessment_id integer,
    department character varying(100) NOT NULL,
    item_key character varying(100) NOT NULL,
    item_text text,
    response character varying(10),
    weight numeric(4,2) DEFAULT 1.0,
    evidence_file character varying(500),
    notes text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT checklist_responses_response_check CHECK (((response)::text = ANY ((ARRAY['yes'::character varying, 'partial'::character varying, 'no'::character varying])::text[])))
);


ALTER TABLE public.checklist_responses OWNER TO postgres;

--
-- Name: checklist_responses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.checklist_responses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.checklist_responses_id_seq OWNER TO postgres;

--
-- Name: checklist_responses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.checklist_responses_id_seq OWNED BY public.checklist_responses.id;


--
-- Name: cia_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cia_data (
    id integer NOT NULL,
    user_id integer,
    organization_name character varying(255) NOT NULL,
    asset_name character varying(255) NOT NULL,
    confidentiality character varying(20),
    integrity character varying(20),
    availability character varying(20),
    controls text,
    risk_assessment text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    controller_license_number character varying(100),
    controller_contact_number character varying(20)
);


ALTER TABLE public.cia_data OWNER TO postgres;

--
-- Name: cia_data_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cia_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cia_data_id_seq OWNER TO postgres;

--
-- Name: cia_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cia_data_id_seq OWNED BY public.cia_data.id;


--
-- Name: compliance_assessments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.compliance_assessments (
    id integer NOT NULL,
    user_id integer,
    organization_name character varying(255) NOT NULL,
    overall_score numeric(5,2),
    compliance_level character varying(50),
    status character varying(20) DEFAULT 'draft'::character varying,
    reviewed_by integer,
    reviewed_at timestamp without time zone,
    review_notes text,
    created_at timestamp without time zone DEFAULT now(),
    submitted_at timestamp without time zone,
    updated_at timestamp without time zone DEFAULT now(),
    license_number character varying(100) DEFAULT NULL::character varying,
    controller_license_number character varying(100),
    controller_contact_number character varying(20),
    registration_number character varying(100)
);


ALTER TABLE public.compliance_assessments OWNER TO postgres;

--
-- Name: compliance_assessments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.compliance_assessments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.compliance_assessments_id_seq OWNER TO postgres;

--
-- Name: compliance_assessments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.compliance_assessments_id_seq OWNED BY public.compliance_assessments.id;


--
-- Name: controller_validations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.controller_validations (
    id integer NOT NULL,
    user_id integer,
    organization_name character varying(255) NOT NULL,
    validation_answers jsonb NOT NULL,
    weighted_score numeric(5,2) NOT NULL,
    is_valid boolean NOT NULL,
    licensing_tier integer DEFAULT 0,
    num_data_subjects integer DEFAULT 0,
    registration_fee numeric(10,2) DEFAULT 0,
    attempt_number integer DEFAULT 1,
    validated_at timestamp without time zone DEFAULT now(),
    controller_name character varying(255),
    controller_address text,
    dpo_name character varying(255),
    dpo_contact character varying(255),
    created_at timestamp without time zone DEFAULT now(),
    license_number character varying(100) DEFAULT NULL::character varying,
    controller_license_number character varying(100),
    controller_contact_number character varying(20),
    registration_number character varying(100)
);


ALTER TABLE public.controller_validations OWNER TO postgres;

--
-- Name: controller_validations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.controller_validations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.controller_validations_id_seq OWNER TO postgres;

--
-- Name: controller_validations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.controller_validations_id_seq OWNED BY public.controller_validations.id;


--
-- Name: department_assessments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.department_assessments (
    id integer NOT NULL,
    user_id integer,
    organization_name character varying(255) NOT NULL,
    department_name character varying(255) NOT NULL,
    assessment_date date,
    assessor character varying(255),
    compliance_status character varying(20),
    overall_score numeric(5,2),
    notes text,
    status character varying(20) DEFAULT 'draft'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    controller_license_number character varying(100),
    controller_contact_number character varying(20)
);


ALTER TABLE public.department_assessments OWNER TO postgres;

--
-- Name: department_assessments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.department_assessments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.department_assessments_id_seq OWNER TO postgres;

--
-- Name: department_assessments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.department_assessments_id_seq OWNED BY public.department_assessments.id;


--
-- Name: department_compliance_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.department_compliance_questions (
    id integer NOT NULL,
    dept_assessment_id integer,
    question_number integer,
    question_text text NOT NULL,
    category character varying(100),
    response character varying(10),
    evidence text,
    notes text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT department_compliance_questions_response_check CHECK (((response)::text = ANY ((ARRAY['yes'::character varying, 'partial'::character varying, 'no'::character varying, 'n/a'::character varying])::text[])))
);


ALTER TABLE public.department_compliance_questions OWNER TO postgres;

--
-- Name: department_compliance_questions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.department_compliance_questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.department_compliance_questions_id_seq OWNER TO postgres;

--
-- Name: department_compliance_questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.department_compliance_questions_id_seq OWNED BY public.department_compliance_questions.id;


--
-- Name: department_remediation_plans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.department_remediation_plans (
    id integer NOT NULL,
    user_id integer,
    organization_name character varying(255) NOT NULL,
    department_name character varying(255) NOT NULL,
    remediation_title character varying(255) NOT NULL,
    issue_description text,
    action_required text,
    responsible_person character varying(255),
    target_date date,
    status character varying(20) DEFAULT 'open'::character varying,
    priority character varying(20) DEFAULT 'medium'::character varying,
    completion_percent integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    controller_license_number character varying(100),
    controller_contact_number character varying(20)
);


ALTER TABLE public.department_remediation_plans OWNER TO postgres;

--
-- Name: department_remediation_plans_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.department_remediation_plans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.department_remediation_plans_id_seq OWNER TO postgres;

--
-- Name: department_remediation_plans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.department_remediation_plans_id_seq OWNED BY public.department_remediation_plans.id;


--
-- Name: dpia_assessments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dpia_assessments (
    id integer NOT NULL,
    user_id integer,
    organization_name character varying(255) NOT NULL,
    department character varying(255),
    responsible_person character varying(255),
    project_name character varying(255),
    business_process character varying(255),
    objectives text,
    data_subjects text,
    categories_data text,
    means_techniques text,
    entities_involved text,
    processing_locations text,
    special_aspects text,
    overall_risk_level character varying(20) DEFAULT 'undetermined'::character varying,
    status character varying(20) DEFAULT 'draft'::character varying,
    approved_by integer,
    approved_at timestamp without time zone,
    approval_notes text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    license_number character varying(100) DEFAULT NULL::character varying,
    controller_license_number character varying(100),
    controller_contact_number character varying(20),
    registration_number character varying(100)
);


ALTER TABLE public.dpia_assessments OWNER TO postgres;

--
-- Name: dpia_assessments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dpia_assessments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dpia_assessments_id_seq OWNER TO postgres;

--
-- Name: dpia_assessments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dpia_assessments_id_seq OWNED BY public.dpia_assessments.id;


--
-- Name: dpia_measure_catalog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dpia_measure_catalog (
    id integer NOT NULL,
    dpia_id integer,
    measure_type character varying(50),
    measure_name character varying(255) NOT NULL,
    description text,
    protection_level integer DEFAULT 1,
    is_selected boolean DEFAULT false,
    implementation_notes text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.dpia_measure_catalog OWNER TO postgres;

--
-- Name: dpia_measure_catalog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dpia_measure_catalog_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dpia_measure_catalog_id_seq OWNER TO postgres;

--
-- Name: dpia_measure_catalog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dpia_measure_catalog_id_seq OWNED BY public.dpia_measure_catalog.id;


--
-- Name: dpia_risk_catalog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dpia_risk_catalog (
    id integer NOT NULL,
    dpia_id integer,
    risk_id character varying(20),
    risk_category character varying(100),
    threat_description text,
    affected_data_subjects character varying(255),
    likelihood character varying(20),
    impact character varying(20),
    risk_level character varying(20),
    existing_controls text,
    residual_risk character varying(20),
    mitigation_measures text,
    responsible_person character varying(255),
    target_date date,
    status character varying(20) DEFAULT 'open'::character varying,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.dpia_risk_catalog OWNER TO postgres;

--
-- Name: dpia_risk_catalog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dpia_risk_catalog_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dpia_risk_catalog_id_seq OWNER TO postgres;

--
-- Name: dpia_risk_catalog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dpia_risk_catalog_id_seq OWNED BY public.dpia_risk_catalog.id;


--
-- Name: evidence_uploads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evidence_uploads (
    id integer NOT NULL,
    user_id integer,
    assessment_id integer,
    department character varying(100),
    item_key character varying(100),
    original_name character varying(500) NOT NULL,
    stored_name character varying(500) NOT NULL,
    file_size integer,
    mime_type character varying(100),
    uploaded_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.evidence_uploads OWNER TO postgres;

--
-- Name: evidence_uploads_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.evidence_uploads_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.evidence_uploads_id_seq OWNER TO postgres;

--
-- Name: evidence_uploads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.evidence_uploads_id_seq OWNED BY public.evidence_uploads.id;


--
-- Name: gap_analysis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gap_analysis (
    id integer NOT NULL,
    assessment_id integer,
    user_id integer,
    gap_area character varying(255),
    current_state text,
    required_state text,
    gap_description text,
    priority character varying(20) DEFAULT 'medium'::character varying,
    recommended_action text,
    responsible_person character varying(255),
    target_date date,
    evidence_file character varying(500),
    gap_score integer DEFAULT 0,
    status character varying(20) DEFAULT 'open'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    organization_name character varying(255),
    license_number character varying(100) DEFAULT NULL::character varying,
    controller_license_number character varying(100),
    controller_contact_number character varying(20),
    registration_number character varying(100)
);


ALTER TABLE public.gap_analysis OWNER TO postgres;

--
-- Name: gap_analysis_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gap_analysis_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gap_analysis_id_seq OWNER TO postgres;

--
-- Name: gap_analysis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gap_analysis_id_seq OWNED BY public.gap_analysis.id;


--
-- Name: kpi_tracking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kpi_tracking (
    id integer NOT NULL,
    user_id integer,
    organization_name character varying(255) NOT NULL,
    kpi_name character varying(255) NOT NULL,
    kpi_description text,
    target_value character varying(100),
    actual_value character varying(100),
    measurement_date date,
    owner character varying(255),
    status character varying(20),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    controller_license_number character varying(100),
    controller_contact_number character varying(20)
);


ALTER TABLE public.kpi_tracking OWNER TO postgres;

--
-- Name: kpi_tracking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.kpi_tracking_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kpi_tracking_id_seq OWNER TO postgres;

--
-- Name: kpi_tracking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.kpi_tracking_id_seq OWNED BY public.kpi_tracking.id;


--
-- Name: license_number_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.license_number_requests (
    id integer NOT NULL,
    organization_id integer,
    organization_name character varying(255) NOT NULL,
    requested_license character varying(100) NOT NULL,
    requested_by integer,
    requested_at timestamp without time zone DEFAULT now(),
    status character varying(20) DEFAULT 'pending'::character varying,
    approved_by integer,
    approved_at timestamp without time zone,
    rejection_reason text,
    is_locked boolean DEFAULT false,
    locked_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.license_number_requests OWNER TO postgres;

--
-- Name: license_number_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.license_number_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.license_number_requests_id_seq OWNER TO postgres;

--
-- Name: license_number_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.license_number_requests_id_seq OWNED BY public.license_number_requests.id;


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizations (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    license_number character varying(100) NOT NULL,
    dpo_number character varying(50),
    registration_date timestamp without time zone DEFAULT now(),
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    license_locked boolean DEFAULT false,
    license_created_by integer,
    license_locked_at timestamp without time zone,
    license_edit_allowed boolean DEFAULT true,
    registration_number character varying(100)
);


ALTER TABLE public.organizations OWNER TO postgres;

--
-- Name: organizations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.organizations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.organizations_id_seq OWNER TO postgres;

--
-- Name: organizations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.organizations_id_seq OWNED BY public.organizations.id;


--
-- Name: raci_matrix; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.raci_matrix (
    id integer NOT NULL,
    user_id integer,
    organization_name character varying(255) NOT NULL,
    process_name character varying(255) NOT NULL,
    role character varying(100) NOT NULL,
    responsible_party character varying(255),
    accountable_party character varying(255),
    consulted_parties text,
    informed_parties text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    controller_license_number character varying(100),
    controller_contact_number character varying(20)
);


ALTER TABLE public.raci_matrix OWNER TO postgres;

--
-- Name: raci_matrix_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.raci_matrix_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.raci_matrix_id_seq OWNER TO postgres;

--
-- Name: raci_matrix_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.raci_matrix_id_seq OWNED BY public.raci_matrix.id;


--
-- Name: ropa_processing_activities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ropa_processing_activities (
    id integer NOT NULL,
    ropa_id integer,
    process_number integer,
    business_function character varying(255),
    process_owner character varying(255),
    processing_activity_name character varying(255),
    purpose text,
    categories_personal_data text,
    special_categories text,
    source_of_data character varying(255),
    category_of_individual character varying(255),
    lawful_basis character varying(100),
    additional_condition text,
    exemption_case text,
    additional_info text,
    dpia_reference character varying(100),
    internal_sharing text,
    internal_geo_location character varying(255),
    external_parties text,
    contract_reference character varying(255),
    cross_border boolean DEFAULT false,
    safeguards text,
    security_measures text,
    retention_period character varying(255),
    storage_location character varying(255),
    breach_records text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.ropa_processing_activities OWNER TO postgres;

--
-- Name: ropa_processing_activities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ropa_processing_activities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ropa_processing_activities_id_seq OWNER TO postgres;

--
-- Name: ropa_processing_activities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ropa_processing_activities_id_seq OWNED BY public.ropa_processing_activities.id;


--
-- Name: ropa_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ropa_records (
    id integer NOT NULL,
    user_id integer,
    organization_name character varying(255) NOT NULL,
    controller_name character varying(255),
    controller_address text,
    controller_contact character varying(255),
    dpo_name character varying(255),
    dpo_contact character varying(255),
    version character varying(20) DEFAULT 'V1.0'::character varying,
    review_date date,
    approved_by character varying(255),
    status character varying(20) DEFAULT 'draft'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    license_number character varying(100) DEFAULT NULL::character varying,
    controller_license_number character varying(100),
    controller_contact_number character varying(20),
    registration_number character varying(100),
    ropa_controller_registration_number character varying(100)
);


ALTER TABLE public.ropa_records OWNER TO postgres;

--
-- Name: ropa_records_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ropa_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ropa_records_id_seq OWNER TO postgres;

--
-- Name: ropa_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ropa_records_id_seq OWNED BY public.ropa_records.id;


--
-- Name: security_gap_analysis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.security_gap_analysis (
    id integer NOT NULL,
    assessment_id integer,
    user_id integer,
    organization_name character varying(255),
    domain_category character varying(100) NOT NULL,
    control_item character varying(500) NOT NULL,
    in_place character varying(20),
    rating character varying(20),
    notes text,
    control_key character varying(100),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    license_number character varying(100) DEFAULT NULL::character varying,
    controller_license_number character varying(100),
    controller_contact_number character varying(20),
    registration_number character varying(100)
);


ALTER TABLE public.security_gap_analysis OWNER TO postgres;

--
-- Name: security_gap_analysis_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.security_gap_analysis_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.security_gap_analysis_id_seq OWNER TO postgres;

--
-- Name: security_gap_analysis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.security_gap_analysis_id_seq OWNED BY public.security_gap_analysis.id;


--
-- Name: tech_recommendations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tech_recommendations (
    id integer NOT NULL,
    user_id integer,
    organization_name character varying(255) NOT NULL,
    type character varying(50) NOT NULL,
    tech_data jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tech_recommendations OWNER TO postgres;

--
-- Name: tech_recommendations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tech_recommendations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tech_recommendations_id_seq OWNER TO postgres;

--
-- Name: tech_recommendations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tech_recommendations_id_seq OWNED BY public.tech_recommendations.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    organization character varying(255),
    email character varying(255),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    last_login timestamp without time zone,
    updated_at timestamp without time zone DEFAULT now(),
    dpo_number character varying(50),
    controller_license_number character varying(100),
    controller_contact_number character varying(20),
    controller_contact character varying(100),
    controller_address text,
    contract_details text,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['data_controller'::character varying, 'data_protection_officer'::character varying, 'system_administrator'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: assets id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets ALTER COLUMN id SET DEFAULT nextval('public.assets_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: checklist_responses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_responses ALTER COLUMN id SET DEFAULT nextval('public.checklist_responses_id_seq'::regclass);


--
-- Name: cia_data id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cia_data ALTER COLUMN id SET DEFAULT nextval('public.cia_data_id_seq'::regclass);


--
-- Name: compliance_assessments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compliance_assessments ALTER COLUMN id SET DEFAULT nextval('public.compliance_assessments_id_seq'::regclass);


--
-- Name: controller_validations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.controller_validations ALTER COLUMN id SET DEFAULT nextval('public.controller_validations_id_seq'::regclass);


--
-- Name: department_assessments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_assessments ALTER COLUMN id SET DEFAULT nextval('public.department_assessments_id_seq'::regclass);


--
-- Name: department_compliance_questions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_compliance_questions ALTER COLUMN id SET DEFAULT nextval('public.department_compliance_questions_id_seq'::regclass);


--
-- Name: department_remediation_plans id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_remediation_plans ALTER COLUMN id SET DEFAULT nextval('public.department_remediation_plans_id_seq'::regclass);


--
-- Name: dpia_assessments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dpia_assessments ALTER COLUMN id SET DEFAULT nextval('public.dpia_assessments_id_seq'::regclass);


--
-- Name: dpia_measure_catalog id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dpia_measure_catalog ALTER COLUMN id SET DEFAULT nextval('public.dpia_measure_catalog_id_seq'::regclass);


--
-- Name: dpia_risk_catalog id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dpia_risk_catalog ALTER COLUMN id SET DEFAULT nextval('public.dpia_risk_catalog_id_seq'::regclass);


--
-- Name: evidence_uploads id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence_uploads ALTER COLUMN id SET DEFAULT nextval('public.evidence_uploads_id_seq'::regclass);


--
-- Name: gap_analysis id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gap_analysis ALTER COLUMN id SET DEFAULT nextval('public.gap_analysis_id_seq'::regclass);


--
-- Name: kpi_tracking id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kpi_tracking ALTER COLUMN id SET DEFAULT nextval('public.kpi_tracking_id_seq'::regclass);


--
-- Name: license_number_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.license_number_requests ALTER COLUMN id SET DEFAULT nextval('public.license_number_requests_id_seq'::regclass);


--
-- Name: organizations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations ALTER COLUMN id SET DEFAULT nextval('public.organizations_id_seq'::regclass);


--
-- Name: raci_matrix id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raci_matrix ALTER COLUMN id SET DEFAULT nextval('public.raci_matrix_id_seq'::regclass);


--
-- Name: ropa_processing_activities id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ropa_processing_activities ALTER COLUMN id SET DEFAULT nextval('public.ropa_processing_activities_id_seq'::regclass);


--
-- Name: ropa_records id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ropa_records ALTER COLUMN id SET DEFAULT nextval('public.ropa_records_id_seq'::regclass);


--
-- Name: security_gap_analysis id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_gap_analysis ALTER COLUMN id SET DEFAULT nextval('public.security_gap_analysis_id_seq'::regclass);


--
-- Name: tech_recommendations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tech_recommendations ALTER COLUMN id SET DEFAULT nextval('public.tech_recommendations_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assets (id, user_id, organization_name, asset_type, asset_name, description, location, owner, classification, status, created_at, updated_at, controller_license_number, controller_contact_number) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: checklist_responses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cia_data; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cia_data (id, user_id, organization_name, asset_name, confidentiality, integrity, availability, controls, risk_assessment, created_at, updated_at, controller_license_number, controller_contact_number) FROM stdin;
\.


--
-- Data for Name: compliance_assessments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: controller_validations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: department_assessments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.department_assessments (id, user_id, organization_name, department_name, assessment_date, assessor, compliance_status, overall_score, notes, status, created_at, updated_at, controller_license_number, controller_contact_number) FROM stdin;
\.


--
-- Data for Name: department_compliance_questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.department_compliance_questions (id, dept_assessment_id, question_number, question_text, category, response, evidence, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: department_remediation_plans; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.department_remediation_plans (id, user_id, organization_name, department_name, remediation_title, issue_description, action_required, responsible_person, target_date, status, priority, completion_percent, created_at, updated_at, controller_license_number, controller_contact_number) FROM stdin;
\.


--
-- Data for Name: dpia_assessments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dpia_assessments (id, user_id, organization_name, department, responsible_person, project_name, business_process, objectives, data_subjects, categories_data, means_techniques, entities_involved, processing_locations, special_aspects, overall_risk_level, status, approved_by, approved_at, approval_notes, created_at, updated_at, license_number, controller_license_number, controller_contact_number, registration_number) FROM stdin;
\.


--
-- Data for Name: dpia_measure_catalog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dpia_measure_catalog (id, dpia_id, measure_type, measure_name, description, protection_level, is_selected, implementation_notes, created_at) FROM stdin;
\.


--
-- Data for Name: dpia_risk_catalog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dpia_risk_catalog (id, dpia_id, risk_id, risk_category, threat_description, affected_data_subjects, likelihood, impact, risk_level, existing_controls, residual_risk, mitigation_measures, responsible_person, target_date, status, created_at) FROM stdin;
\.


--
-- Data for Name: evidence_uploads; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evidence_uploads (id, user_id, assessment_id, department, item_key, original_name, stored_name, file_size, mime_type, uploaded_at) FROM stdin;
\.


--
-- Data for Name: gap_analysis; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: kpi_tracking; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.kpi_tracking (id, user_id, organization_name, kpi_name, kpi_description, target_value, actual_value, measurement_date, owner, status, created_at, updated_at, controller_license_number, controller_contact_number) FROM stdin;
\.


--
-- Data for Name: license_number_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.license_number_requests (id, organization_id, organization_name, requested_license, requested_by, requested_at, status, approved_by, approved_at, rejection_reason, is_locked, locked_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: raci_matrix; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.raci_matrix (id, user_id, organization_name, process_name, role, responsible_party, accountable_party, consulted_parties, informed_parties, created_at, updated_at, controller_license_number, controller_contact_number) FROM stdin;
\.


--
-- Data for Name: ropa_processing_activities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ropa_processing_activities (id, ropa_id, process_number, business_function, process_owner, processing_activity_name, purpose, categories_personal_data, special_categories, source_of_data, category_of_individual, lawful_basis, additional_condition, exemption_case, additional_info, dpia_reference, internal_sharing, internal_geo_location, external_parties, contract_reference, cross_border, safeguards, security_measures, retention_period, storage_location, breach_records, created_at) FROM stdin;
\.


--
-- Data for Name: ropa_records; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: security_gap_analysis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.security_gap_analysis (id, assessment_id, user_id, organization_name, domain_category, control_item, in_place, rating, notes, control_key, created_at, updated_at, license_number, controller_license_number, controller_contact_number, registration_number) FROM stdin;
\.


--
-- Data for Name: tech_recommendations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tech_recommendations (id, user_id, organization_name, type, tech_data, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: assets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assets_id_seq', 1, false);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 623, true);


--
-- Name: checklist_responses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.checklist_responses_id_seq', 1736, true);


--
-- Name: cia_data_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cia_data_id_seq', 80, true);


--
-- Name: compliance_assessments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.compliance_assessments_id_seq', 16, true);


--
-- Name: controller_validations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.controller_validations_id_seq', 26, true);


--
-- Name: department_assessments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.department_assessments_id_seq', 31, true);


--
-- Name: department_compliance_questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.department_compliance_questions_id_seq', 12, true);


--
-- Name: department_remediation_plans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.department_remediation_plans_id_seq', 25, true);


--
-- Name: dpia_assessments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dpia_assessments_id_seq', 17, true);


--
-- Name: dpia_measure_catalog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dpia_measure_catalog_id_seq', 306, true);


--
-- Name: dpia_risk_catalog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dpia_risk_catalog_id_seq', 17, true);


--
-- Name: evidence_uploads_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evidence_uploads_id_seq', 1, false);


--
-- Name: gap_analysis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gap_analysis_id_seq', 146, true);


--
-- Name: kpi_tracking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.kpi_tracking_id_seq', 22, true);


--
-- Name: license_number_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.license_number_requests_id_seq', 1, false);


--
-- Name: organizations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.organizations_id_seq', 17, true);


--
-- Name: raci_matrix_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.raci_matrix_id_seq', 1, false);


--
-- Name: ropa_processing_activities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ropa_processing_activities_id_seq', 10, true);


--
-- Name: ropa_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ropa_records_id_seq', 16, true);


--
-- Name: security_gap_analysis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.security_gap_analysis_id_seq', 102, true);


--
-- Name: tech_recommendations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tech_recommendations_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 19, true);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: checklist_responses checklist_responses_assessment_id_department_item_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_responses
    ADD CONSTRAINT checklist_responses_assessment_id_department_item_key_key UNIQUE (assessment_id, department, item_key);


--
-- Name: checklist_responses checklist_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_responses
    ADD CONSTRAINT checklist_responses_pkey PRIMARY KEY (id);


--
-- Name: cia_data cia_data_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cia_data
    ADD CONSTRAINT cia_data_pkey PRIMARY KEY (id);


--
-- Name: compliance_assessments compliance_assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compliance_assessments
    ADD CONSTRAINT compliance_assessments_pkey PRIMARY KEY (id);


--
-- Name: controller_validations controller_validations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.controller_validations
    ADD CONSTRAINT controller_validations_pkey PRIMARY KEY (id);


--
-- Name: department_assessments department_assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_assessments
    ADD CONSTRAINT department_assessments_pkey PRIMARY KEY (id);


--
-- Name: department_compliance_questions department_compliance_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_compliance_questions
    ADD CONSTRAINT department_compliance_questions_pkey PRIMARY KEY (id);


--
-- Name: department_remediation_plans department_remediation_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_remediation_plans
    ADD CONSTRAINT department_remediation_plans_pkey PRIMARY KEY (id);


--
-- Name: dpia_assessments dpia_assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dpia_assessments
    ADD CONSTRAINT dpia_assessments_pkey PRIMARY KEY (id);


--
-- Name: dpia_measure_catalog dpia_measure_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dpia_measure_catalog
    ADD CONSTRAINT dpia_measure_catalog_pkey PRIMARY KEY (id);


--
-- Name: dpia_risk_catalog dpia_risk_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dpia_risk_catalog
    ADD CONSTRAINT dpia_risk_catalog_pkey PRIMARY KEY (id);


--
-- Name: evidence_uploads evidence_uploads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence_uploads
    ADD CONSTRAINT evidence_uploads_pkey PRIMARY KEY (id);


--
-- Name: gap_analysis gap_analysis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gap_analysis
    ADD CONSTRAINT gap_analysis_pkey PRIMARY KEY (id);


--
-- Name: kpi_tracking kpi_tracking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kpi_tracking
    ADD CONSTRAINT kpi_tracking_pkey PRIMARY KEY (id);


--
-- Name: license_number_requests license_number_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.license_number_requests
    ADD CONSTRAINT license_number_requests_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_license_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_license_number_key UNIQUE (license_number);


--
-- Name: organizations organizations_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_name_key UNIQUE (name);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: raci_matrix raci_matrix_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raci_matrix
    ADD CONSTRAINT raci_matrix_pkey PRIMARY KEY (id);


--
-- Name: ropa_processing_activities ropa_processing_activities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ropa_processing_activities
    ADD CONSTRAINT ropa_processing_activities_pkey PRIMARY KEY (id);


--
-- Name: ropa_records ropa_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ropa_records
    ADD CONSTRAINT ropa_records_pkey PRIMARY KEY (id);


--
-- Name: security_gap_analysis security_gap_analysis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_gap_analysis
    ADD CONSTRAINT security_gap_analysis_pkey PRIMARY KEY (id);


--
-- Name: tech_recommendations tech_recommendations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tech_recommendations
    ADD CONSTRAINT tech_recommendations_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_al_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_al_time ON public.audit_logs USING btree (created_at DESC);


--
-- Name: idx_al_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_al_user ON public.audit_logs USING btree (user_id);


--
-- Name: idx_assets_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assets_user ON public.assets USING btree (user_id);


--
-- Name: idx_ca_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ca_user ON public.compliance_assessments USING btree (user_id);


--
-- Name: idx_cia_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cia_user ON public.cia_data USING btree (user_id);


--
-- Name: idx_cr_assessment; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cr_assessment ON public.checklist_responses USING btree (assessment_id);


--
-- Name: idx_da_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_da_user ON public.dpia_assessments USING btree (user_id);


--
-- Name: idx_dept_assess_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dept_assess_user ON public.department_assessments USING btree (user_id);


--
-- Name: idx_dept_compliance_assess; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dept_compliance_assess ON public.department_compliance_questions USING btree (dept_assessment_id);


--
-- Name: idx_dept_remed_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dept_remed_user ON public.department_remediation_plans USING btree (user_id);


--
-- Name: idx_ga_assessment; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ga_assessment ON public.gap_analysis USING btree (assessment_id);


--
-- Name: idx_kpi_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kpi_user ON public.kpi_tracking USING btree (user_id);


--
-- Name: idx_license_req_org; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_license_req_org ON public.license_number_requests USING btree (organization_id);


--
-- Name: idx_license_req_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_license_req_status ON public.license_number_requests USING btree (status);


--
-- Name: idx_org_license; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_org_license ON public.organizations USING btree (license_number);


--
-- Name: idx_org_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_org_name ON public.organizations USING btree (name);


--
-- Name: idx_raci_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_raci_user ON public.raci_matrix USING btree (user_id);


--
-- Name: idx_rr_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rr_user ON public.ropa_records USING btree (user_id);


--
-- Name: idx_sga_assessment; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sga_assessment ON public.security_gap_analysis USING btree (assessment_id);


--
-- Name: idx_sga_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sga_user ON public.security_gap_analysis USING btree (user_id);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: assets assets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: checklist_responses checklist_responses_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_responses
    ADD CONSTRAINT checklist_responses_assessment_id_fkey FOREIGN KEY (assessment_id) REFERENCES public.compliance_assessments(id) ON DELETE CASCADE;


--
-- Name: cia_data cia_data_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cia_data
    ADD CONSTRAINT cia_data_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: compliance_assessments compliance_assessments_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compliance_assessments
    ADD CONSTRAINT compliance_assessments_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: compliance_assessments compliance_assessments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.compliance_assessments
    ADD CONSTRAINT compliance_assessments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: controller_validations controller_validations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.controller_validations
    ADD CONSTRAINT controller_validations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: department_assessments department_assessments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_assessments
    ADD CONSTRAINT department_assessments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: department_compliance_questions department_compliance_questions_dept_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_compliance_questions
    ADD CONSTRAINT department_compliance_questions_dept_assessment_id_fkey FOREIGN KEY (dept_assessment_id) REFERENCES public.department_assessments(id) ON DELETE CASCADE;


--
-- Name: department_remediation_plans department_remediation_plans_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_remediation_plans
    ADD CONSTRAINT department_remediation_plans_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: dpia_assessments dpia_assessments_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dpia_assessments
    ADD CONSTRAINT dpia_assessments_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(id);


--
-- Name: dpia_assessments dpia_assessments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dpia_assessments
    ADD CONSTRAINT dpia_assessments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: dpia_measure_catalog dpia_measure_catalog_dpia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dpia_measure_catalog
    ADD CONSTRAINT dpia_measure_catalog_dpia_id_fkey FOREIGN KEY (dpia_id) REFERENCES public.dpia_assessments(id) ON DELETE CASCADE;


--
-- Name: dpia_risk_catalog dpia_risk_catalog_dpia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dpia_risk_catalog
    ADD CONSTRAINT dpia_risk_catalog_dpia_id_fkey FOREIGN KEY (dpia_id) REFERENCES public.dpia_assessments(id) ON DELETE CASCADE;


--
-- Name: evidence_uploads evidence_uploads_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence_uploads
    ADD CONSTRAINT evidence_uploads_assessment_id_fkey FOREIGN KEY (assessment_id) REFERENCES public.compliance_assessments(id) ON DELETE SET NULL;


--
-- Name: evidence_uploads evidence_uploads_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence_uploads
    ADD CONSTRAINT evidence_uploads_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: gap_analysis gap_analysis_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gap_analysis
    ADD CONSTRAINT gap_analysis_assessment_id_fkey FOREIGN KEY (assessment_id) REFERENCES public.compliance_assessments(id) ON DELETE CASCADE;


--
-- Name: gap_analysis gap_analysis_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gap_analysis
    ADD CONSTRAINT gap_analysis_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: kpi_tracking kpi_tracking_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kpi_tracking
    ADD CONSTRAINT kpi_tracking_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: license_number_requests license_number_requests_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.license_number_requests
    ADD CONSTRAINT license_number_requests_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: license_number_requests license_number_requests_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.license_number_requests
    ADD CONSTRAINT license_number_requests_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: license_number_requests license_number_requests_requested_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.license_number_requests
    ADD CONSTRAINT license_number_requests_requested_by_fkey FOREIGN KEY (requested_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: organizations organizations_license_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_license_created_by_fkey FOREIGN KEY (license_created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: raci_matrix raci_matrix_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raci_matrix
    ADD CONSTRAINT raci_matrix_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: ropa_processing_activities ropa_processing_activities_ropa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ropa_processing_activities
    ADD CONSTRAINT ropa_processing_activities_ropa_id_fkey FOREIGN KEY (ropa_id) REFERENCES public.ropa_records(id) ON DELETE CASCADE;


--
-- Name: ropa_records ropa_records_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ropa_records
    ADD CONSTRAINT ropa_records_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: security_gap_analysis security_gap_analysis_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_gap_analysis
    ADD CONSTRAINT security_gap_analysis_assessment_id_fkey FOREIGN KEY (assessment_id) REFERENCES public.compliance_assessments(id) ON DELETE CASCADE;


--
-- Name: security_gap_analysis security_gap_analysis_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_gap_analysis
    ADD CONSTRAINT security_gap_analysis_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: tech_recommendations tech_recommendations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tech_recommendations
    ADD CONSTRAINT tech_recommendations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict FWuXjpdfq6SMT9eXCw8dNciJp4ofSa2l6rUIXEjgu5hUT8KRYB7yvLOQgsqj23q

